.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    display: block;
    margin: 0 0 100px;
    background-color: black;
    color: #F9B800;
    overflow-y: scroll;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #08649F;
    color: #F9B800;
    padding: 0 0 40px 20px;

}


img {
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
}
h2 {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 48px;
}
h3 {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}
body {

}
input, button {
    margin: 4px;
    font-size: 16px;
    color: black;
}

.header {
    background-color: #08649F;
    color: white;
    height: 120px;
}
.splash-container, .content {
    border: 2px solid white;
    border-radius: 4px;
    margin: 20px 30px;
    padding: 10px;
}
.submit:hover, button:hover {
    font-style: italic;
}
.italicize {
    font-style: italic;
}
