<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="header">
    <img src="https://cdn4.iconfinder.com/data/icons/PLASTICXP/accounting/png/256/deposit.png" />
    <h2>Welcome to Farce Bank and Company!</h2>
</div>
<div class="clearfix"></div>
<body>
    <h1>Oops...sorry....</h1>

</body>
<footer class="footer l-box is-center">
    <p>&copy; Farce Bank and Company</p>
    <p class="italicize">Make it a "Farcey" day!</p>
</footer>
</html>