<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="views/styles/normalize.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="views/styles/custom.css">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
</head>
<div class="header">
    <img src="https://cdn4.iconfinder.com/data/icons/PLASTICXP/accounting/png/256/deposit.png" />
    <h2>Welcome to Farce Bank and Company!</h2>
</div>
<div class="clearfix"></div>

<body class="container" ng-controller="failureController">
    <div class="splash-container">
        <h1>Farce Bank and Company</h1>
    </div>
    <div class="content">
        <h1>Invalid Login</h1>
        <a href="/"><button>Go Back</button></a>
    </div>
</body>
<footer class="footer l-box is-center">
    <p><b>&copy; Farce Bank and Company</b></p>
    <p class="italicize">Make it a "Farciful" day!</p>
</footer>
</html>