<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
</head>
<div class="header">
    <img src="https://cdn4.iconfinder.com/data/icons/PLASTICXP/accounting/png/256/deposit.png" />
    <h2>Welcome to Farce Bank and Company!</h2>
</div>
<div class="clearfix"></div>

<body class="container" ng-controller="failureController">
    <h1>Invalid Login</h1>
    <a href="/">Go Back</a>
</body>
<footer class="footer l-box is-center">
    <p>&copy; Farce Bank and Company</p>
    <p class="italicize">Make it a "Farcey" day!</p>
</footer>
</html>