<!DOCTYPE html>
<html lang="en" ng-app="bankApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
</head>
<body ng-controller="successController">
    <p>Welcome, {{user.first_name}}!</p>

    <h2>Your account details:</h2>
    <p>Account Balance: {{user.account_balance | currency}}</p>
    <p>Auto Loan Principle Balance: {{user.car_loan | currency}}</p>
    <p>Mortgage Principle Balance: {{user.home_loan | currency}}</p>

    <button ng-click="showForm()">Make a Payment</button>
    <div class="paymentForm" ng-show="formShowing">
        <h2>Make a Payment</h2>
        <form action="/makePayment" method="post">
            Auto Payment: <input type="number" ng-model="autoPayment" name="autoPayment"/>
            Home Payment: <input type="number" ng-model="homePayment" name="homePayment"/>
            <input type="submit" value="Submit Payment">
            <p>Balance Remaining: {{user.account_balance - autoPayment - homePayment | currency}}</p>
        </form>
    </div>
</body>
</html>